{% extends 'base.html' %}

{% block title %}
    <title>About - Taskmate</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <h1>{{about_text}}</h1>
    <p>Gyorgy Kepes (1906–2001) was the last disciple of Bauhaus modernism, an acolyte of László Moholy-Nagy 
      and a self-styled revolutionary artist. But by midcentury, transplanted to America, Kepes found he was
      trapped in the military-industrial-aesthetic complex. In this first book-length study of Kepes, John
      Blakinger argues that Kepes, by opening the research laboratory to the arts, established a new paradigm
      for creative practice: the artist as technocrat. First at Chicago’s New Bauhaus and then for many 
      years at MIT, Kepes pioneered interdisciplinary collaboration between the arts and sciences—what he 
      termed “interthinking” and “interseeing.” Kepes and his colleagues—ranging from metallurgists to 
      mathematicians—became part of an important but little-explored constellation: the Cold War avant-garde.</p>

    </div>
{% endblock content %}