{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> index - taskmate</title>
{% endblock title %}

{% block content %}
  <div class="container">
  <div class="row mt-5">
    <div class="col">
      <img src="{% static 'images/stickynotes.jpg' %}" alt="Note" class= "rounded-3 shadow" width="360" height="250" > </img>
    </div>
    <div class="col">
      <img src="{% static 'images/joanna.jpg' %}" alt="Note"  class= "rounded-3 shadow" width="360" height="250"> </img>
    </div>
    <div class="col">
      <img src="{% static 'images/joanna2.jpg' %}" alt="Note"  class= "rounded-3 shadow" width="360" height="250"> </img>
    </div>
  </div>
  
  <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
        <center><p class="h1 text-primary">Quick and Easy to use, Anywhere, Anytime!</p></center>
        <center><p class="h2">"Plan Your Day Better, Get Your Life Organised"</p></center>
        <center><p class="h5">TASKmate Lets you keep Track of your Task In one place.</p></center>
        <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>
    </div>
  </div>

</div>
{% endblock content %}
    <!-- h1>{{index_text}}</h1>

