{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>logOut - Taskmate</title>
{% endblock title %}

{% block content %}
  <div class="container ">
    <br> 
        <h4>Logged Out Of TaskMate. Thank You and visit again </h4>
                <div class="row">
                <div class="col-4">
                <br>
                <img src={% static 'images/joanna2.jpg' %} alt="none" class="mt-5" width ='460' height ='250'>
                 </div>
            </div>
{% endblock content %}